@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pokemon GB";
  src: url('../fonts/pokemon-gb/PokemonGb-RAeo.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
