@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'pokemon-font';
  font-smooth: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  src: url('../fonts/pokemon-font/pokemon-font.eot');
  src: url('../fonts/pokemon-font/pokemon-font.eot?#iefix') format('embedded-opentype'),
       url('../fonts/pokemon-font/pokemon-font.woff2') format('woff2'),
       url('../fonts/pokemon-font/pokemon-font.woff') format('woff'),
       url('../fonts/pokemon-font/pokemon-font.ttf')  format('truetype')
}

body, html {
  font-family: "pokemon-font", monospace;
}

.PokéBox {
  font-size: 10px;
  border-radius: 0.125rem;
  padding: 0.5rem;

  min-width: 10rem;
  min-height: 2rem;
  line-height: 1rem;
  margin: auto;
  background: white;
  border: 1px solid white;
  box-shadow: 0 1px 0 1px black,
    inset 0 1px 0 1px black,
    0 0 0 1px black,
    inset 0 0 0 1px black;
}